@supports (background-blend-mode: multiply) {
    body {
        background: url("/static/images/domain5.jpg"), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        font-family: Raleway, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}


.content {
    flex: 1;
}






.navbar-brand,
.navbar-nav .nav-link {
    color: #fff !important;
}


@supports (background-blend-mode: multiply) {
    .jumbotron {
        background: url("/static/images/domain5.jpg"), radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #ffffff;
        padding: 100px 0;
        margin-bottom: 0;
    
    }

}


.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
}
label{
    font-family: italic;
}

.title {
    color: #ffca2c;
}

.jumbotron p {
    font-size: 20px;
}

.btn-primary {
    background-color: #ffca2c;
    border-color: #ffc107;
    color:black;
    text-decoration: #000;

}

.btn-primary:active {
    background-color: #fff; /* Change this to your desired color */
}

.btn-primary:hover {
    background-color: #ffca2c;
    border-color: #ffca2c;
}



.footer {
    color: #ffffff;
    padding: 20px 0;
}
.container {
    text-align: center;
    
}
.sub-title{
    color:#fff;
    margin-right: 100px;
}


input[type="text"]:focus {
    border-color: #fff; /* Change border color on focus */
}



.center-container {
    text-align: center;
    color:#fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    display: flex;
    justify-content: center; /* Center the table horizontally */
    margin-bottom: 20px;
    color: #000;
}


form {
    margin-bottom: 20px;
}


.sm-title{
    color: #ffca2c;
    font-size: large;
    margin-top: 30px;
    margin-bottom: 40px;
    
}

.form-control{
    border: none;
    border-bottom: 3px solid #fff; /* Underline border */
    font-size: 16px;
    color: #000;
    outline: none; /* Remove default focus outline */
}

.form-control:focus {
    border-color: #ffca2c; /* Change border color on focus */
}

.btn-block.domain-search {
    background-color: #ffc107;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    font-size: medium;
}






strong{
    margin-right: 770px;
    margin-bottom: 20px;
}

table {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.table-header{

    color: black;

}
.available {
    color: green;
}

.not-available {
    color: red;
}
/* Media Queries for Responsiveness */
@media (max-width: 767px) {
    .form-control.input-lg,
    .btn-block.domain-search {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .sm-title {
        font-size: medium;
    }
}



